html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family:Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  background-color: #ffdda7 ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
